<body>
<div class="bg">
<!-- Default form register -->
<div class="table-padding">
<form class="text-center border border-light p-5">
        <p class="h4 mb-4">Add Company Details</p>
        <div class="form-row mb-4">
            <div class="col-sm">
                <!-- Medicine name -->
                <input type="text" id="medicineName" class="form-control" placeholder="Medicine name">
            </div>
            <div class="col-sm">
                <!-- Company name -->
                <input type="text" id="companyName" class="form-control" placeholder="Company name">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-sm">
                <div class="input-group input-group-md">
                    <!-- Created date -->
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="createdDateLabel">Created date</span>
                    </div>
                    <input type="date" id="createdDate" class="form-control">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-md">
                    <!-- Modified date -->
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="modifiedDateLabel">Modified date</span>
                    </div>
                    <input type="date" id="modifiedDate" class="form-control">
                </div>
            </div>
        </div>
        <!-- Sign up button -->
        <!-- <button class="btn btn-info my-4 btn-block" type="submit">Add Stock</button> -->
        <button class="btn btn-info my-4" type="submit">Add Company</button>
        <button class="btn btn-danger my-4" type="submit">Reset Details</button>
    </form>
</div>
<!-- Default form register -->
<div class="table-padding"> 
<table class="table table-striped" cellspacing="0">
    <thead style="font-size: 1.3rem;">
      <tr>
        <th class="th-sm">Sl No
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <!--<th class="th-sm">Batch Id
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>-->
        <th class="th-sm">Medicine Name
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Company Name
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Created Date
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Modified Date
            <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
        <th class="th-sm">Edit Data
            <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>Shad Decker</td>
        <!--<td>Regional Director</td>-->
        <td>Edinburgh</td>
        <td>51</td>
        <td>TOT-140, AVAIL-60</td>
        <td>$183,000</td>
        <td><button class="btn btn-danger" type="submit">Edit</button></td>
      </tr>
      <tr>
        <td>Michael Bruce</td>
        <!--<td>Javascript Developer</td>-->
        <td>Singapore</td>
        <td>29</td>
        <td>2011/06/27</td>
        <td>$183,000</td>
        <td><button class="btn btn-danger" type="submit">Edit</button></td>
      </tr>
      <tr>
        <td>Donna Snider</td>
        <!--<td>Customer Support</td>-->
        <td>New York</td>
        <td>27</td>
        <td>2011/01/25</td>
        <td>$112,000</td>
        <td><button class="btn btn-danger" type="submit">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>